@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display:contents;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
    background-color: #EB1414;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal1 {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-content {
    background-color: #a90000dc;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Cover half the page */
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: appear 0.3s ease-out;
}


.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.faq-content {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    display: flex;
    color:#ffffff;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.faq-question .arrow {
    font-size: 20px;
}

.faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffffc1;
}

/* Form Styling */
input[type=email],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #EB1414;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #EB1414;
}

/* Appear animation */
@keyframes appear {
    from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}


.top-bar {
    text-align: center;
    background-color: #8C0000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}

.custom-link {
    color: white;  
    text-decoration: none;  
    transition: transform 0.3s ease, color 0.3s ease;  
    transform-origin: center;  
}

.custom-link:hover {
    transform: scale(1.045); 
    color: white; 
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: 12;
    padding: 20px;
}

h1 {
    margin-right: 100px;
    color: white;
    font-size: 2rem;
}

.search-bar {
    margin-left: 60px;
    display: flex;
    align-items: left;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 5px;
    outline: none;
    width: 300px;
}

.search-bar button img {
    width: 16px; 
    height: 15.5px;
}

.search-bar button {
    background-color: white;
    border: none;
    border-radius: 0 50px 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 300px;
    z-index: 1000;
    margin-top: 52px; /* Adjust this value to position it properly below the search bar */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto; /* Allows scrolling if the list is long */
    display: none; /* Hide it initially */
}


.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.product-item:last-child {
    border-bottom: none;
}

.product-item:hover {
    background-color: #f9f9f9;
}

.product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}


.icons {
    margin-right: 55px;
    display: flex;
    align-items: center;
}

.icons img {
    margin-left: 30px;
    width: 35px;
    height: 35px;
}

.cart-count {
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px;
    color: #d54234;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #fcf8f8;
    margin: 0px ;
}

nav ul li {
    position: relative;
    padding: 15px 25px;
}

nav ul li a {
    color: rgb(9, 9, 9);
    text-decoration: none;
}

.kashmir-exclusive {
    background-color: #ffecd1;
    border-radius: 5px; 
    padding: 15px 25px; 
}

.kashmir-exclusive a {
    color: #ff0080; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}

.kashmir-exclusive:hover {
    background-color: #fec8a3; 
    transition: background-color 0.3s ease; 
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
    padding: 10px;
    background-color: #f6f2f1;
}

.dropdown-content li a {
    color: rgb(22, 21, 21);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.products {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 30%;
}

/* Slider CSS */
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

/* Features */
.features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.feature-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.feature-text h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #1e1e1e;
}

.feature-text p {
    font-size: 1rem;
    color: #444444;
}

.feature-text a {
    color: #007bff;
    text-decoration: none;
}

.feature-text a:hover {
    text-decoration: underline;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: #232323;
}


.best-deals {
    text-align: center;
    padding: 20px;
}

.subcat {
    text-align: center;
    padding: 25px;
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider1, .slider2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%; /* Adjust based on the number of slides. E.g., 5 slides = 500% */
}

.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link {
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(216, 25, 25, 0.5);
    transition: 0.2s ease;
    
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    
}
.card-list .card-link .badge{
    
    color: #8C0000;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;  
}
.card-list .card-link .card-title{
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
}

.card-list .card-link .card-title s{
    color: #707070;
    font-size: 20px;
    margin-right: 10px; /* Space between the old and new price */
}

.card-list .card-link .card-button{
    height: 50px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #8C0000;
    
}
.card-list .card-link:hover .card-button{
    color: #fff;
    background: #8C0000;

}
.swiper {
    padding: 16px 32px 32px 16px;
  }

/* .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.product-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    background-color: #fff;
} */ */

.badge {
    background-color: #EB1414;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    position: relative;
    top: -10px;
    left: -60px;
}

.price {
    font-size: 18px;
    color: #232323;
}

.price s {
    color: #707070;
    font-size: 16px;
    margin-right: 10px; /* Space between the old and new price */
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.qty-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity input {
    width: 30px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 5px;
}


.add-to-cart {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #000000; /* Darken button on hover */
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8C0000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}


.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

footer {
    background-color: #EB1414;
    color: white;
    text-align: center;
    padding: 10px;
    footer {
        background-color: #EB1414;
        color: white;
        padding: 30px 0;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .footer-section {
        flex: 1;
        padding: 10px;
    }

    .categories-container {
        display: flex;
        justify-content: center;
        gap: 20px; /* Adjust spacing between columns */
    }
    
    .categories-left, .categories-right {
        list-style: none;
        padding: 0;
    }
    
    .categories-left li, .categories-right li {
        text-align: left;
    }
    
    .categories-left a, .categories-right a {
        text-decoration: none;
        color: white; /* Adjust to your theme */
    }
    
    .categories-left a:hover, .categories-right a:hover {
        text-decoration: underline;
    }
    
    .footer-section h2,
    .footer-section h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .footer-section p,
    .footer-section ul {
        margin-bottom: 10px;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 5px;
    }
    
    .footer-section ul li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    
    .footer-section a:hover {
        text-decoration: underline;
    }
    
    .social-icons {
        display: flex;
        gap: 10px;
        row-gap: 100px;
    }
    
    .social-icons a img {
        width: 25px;
        height: 25px;
        margin: 20px;
    }
    
    .footer-bottom {
        border-top: 1px solid rgb(255, 255, 255);
        padding: 20px 0;
        text-align: center;
    }
    
    .payment-methods img {
        margin: 0 10px;
        height: 30px;
        width: auto;
    }
    
    .footer-links {
        margin-top: 10px;
    }
    
    .footer-links a {
        color: rgb(255, 255, 255);
        margin: 0 10px;
        text-decoration: none;
    }
    
    .footer-links a:hover {
        text-decoration: underline;
    } 
}


