/*TABLE*/
.table-section {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 25px;
}

.table-section h2 {
  color:#000000;
  margin: 10px 0 5px;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.table-container {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

.table-container td {
    margin: 0%;
    width: auto;
    color: rgba(23, 23, 23, 0.854);
    border-collapse: collapse;
    text-align: justify;
    vertical-align: top;
}

.table-container th, .table-container td {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #000000;
    padding: 50px;
}
.table-container th {
    background-color: #f4f4f4;
    color: #000000;
}
.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-container tr:hover {
    background-color: #ddd;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffffe6;
  color: white;
  text-align: center;
}

.container {
    background-color: #303032e1;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

.about-section {
  padding: 50px 20px;
}

.about-section h1 {
  margin: 10px 0 5px;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team-member {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.678);
}

.team-member:hover img {
  transform: scale(1.1);
}

.team-member h2 {
  COLOR: BLACK;
  font-size: 18px;
  margin: 10px 0 5px;
}

.team-member p {
  font-size: 14px;
  color: #373739;
  margin: 0;
}
